body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #836767;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  nav {
    background-color: #6f5959;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  section {
    padding: 20px;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, button {
    margin-bottom: 10px;
  }
  